<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Page Not Found</title>
    <style>
        body { font-family: Arial, sans-serif; background: #f8f8f8; color: #333; text-align: center; padding: 50px;}
        h1 { font-size: 60px; margin-bottom: 10px; }
        p { font-size: 20px; }
        a { color: #007bff; text-decoration: none; }
    </style>
</head>
<body>
    <h1>403</h1>
    <p>Sahifa topilmadi 😢</p>
    <a href="{% url 'enterance' %}">Bosh sahifaga qaytish</a>
</body>
</html>