<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Page Not Found</title>
    <style>
        body { font-family: Arial, sans-serif; background: #f8f8f8; color: #333; text-align: center; padding: 50px;}
        h1 { font-size: 60px; margin-bottom: 10px; }
        p { font-size: 20px; }
        a { color: #007bff; text-decoration: none; }
        .links{
            display: flex;
            flex-direction: column;
        }
    </style>
</head>
<body>
    <h1>Eco Life</h1>
    <h1>500</h1>
    <p>Serverda Xatolik</p>
    <div class="links">
        <a href="{% url 'enterance' %}">Bosh sahifaga qaytish</a>
        <br>
        <a href="https://t.me/eco_start_appBot">Admin bilan bog'lanish 📡 /help </a>
    </div>
</body>
</html>